html {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  font-family: "OpenSans", sans-serif;
  font-style: normal;
  background-color: rgb(28, 3, 3);
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  width: 100%;
  object-fit: cover;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Italic"),
    url("/src/font/OpenSans-Italic.woff2") format("woff2"),
    url("/src/font/OpenSans-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Regular"),
    url("/src/font/OpenSans-Regular.woff2") format("woff2"),
    url("/src/font/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-SemiBold"),
    url("/src/font/OpenSans-SemiBold.woff2") format("woff2"),
    url("/src/font/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Bold"),
    url("/src/font/OpenSans-Bold.woff2") format("woff2"),
    url("/src/font/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* glob */

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.jf-sb {
  justify-content: space-between;
}

.jf-s-around {
  justify-content: space-around;
}

.al-i-c {
  align-items: center;
}

.fl-dr-col {
  flex-direction: column;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1600px;
}

.container-game {
  margin: 0 auto;
  padding: 0 160px;
  max-width: 1000px;

}

@media (max-width:1024px) {

  .container-game {
    max-width: 800px;
  }
}

@media (max-width:768px) {

  .container-game {
    padding: 0 40px;
    max-width: 600px;
  }
}

.hidden {
  display: none;
}

/* @media (max-width: 1440px) {
  .container {
    max-width: 596px;
  }
  .container-h1 {
    margin-bottom: 5px;
  }
  svg {
    height: 150px;
  }
  .game__block {
    margin-bottom: 10px;
  }

  .game__card {
    height: 120px;
  }
  .game__card.open {
    font-size: 42px;
  }

  .game__card.success {
    font-size: 42px;
  }

  .game__button {
    padding: 6px 18px;
    font-size: 22px;

  }
}

@media (max-width: 1024px) {
  .game__block {
    margin-bottom: 15px;
  }
  .game__card {
    height: 100px;
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 400px;
  }

  .container-h1 {
    margin-bottom: 0;
  }

  svg {
    height: 100px;
  }

  .game__card {
    height: 80px;
  }

  .game__button {
    padding: 5px 15px;
    font-size: 14px ;
    line-height: 18px;
    border: 1px solid rgb(52, 120, 6);
    outline: 2px solid rgb(52, 120, 6);
    outline-offset: 3px;
  }

  .game__footer {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
}

@media (max-width: 768px) {
  .game__card.open {
    font-size: 36px;
  }

  .game__card.success {
    font-size: 36px;
  }
} */
